<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Alumno</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Nuevo Alumno</h1>
        <br>
        <form action="/alumnos/agregar" method="post">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Matricula:</span>
                </div>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"  name="tfMatricula">
            </div>                     
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Nombre:</span>
                </div>
                <input type="text" class="form-control" name="tfNombre">
                <div class="input-group-prepend">
                    <span class="input-group-text">Apellidos:</span>
                </div>
                <input type="text" class="form-control" name="tfApellidos">
            </div>  <br>      
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Ddi:</span>
                </div>
                <input type="text" class="form-control" name="tfDdi">
                <div class="input-group-prepend">
                    <span class="input-group-text">Dwi:</span>
                </div>
                <input type="text" class="form-control" name="tfDwi">
                <div class="input-group-prepend">
                    <span class="input-group-text">Ecbd</span>
                </div>
                <input type="text" class="form-control" name="tfEcbd">
            </div><br>
            <input type="submit" name="accion" value="Agregar" class="btn btn-primary">
            <a href="/alumnos" class="btn btn-secondary">Regresar</a>
        </form>
    </div>
    <script src="/bootstrap.bundle.min.js"></script>
</body>
</html>